#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#editor {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
}

span {
  margin: 0;
  padding: 0;
}